export WDISPLAY_SSH_HOST=baileyserver
export WDISPLAY_SSH_USER=baileykiehl
export WDISPLAY_SSH_KEY_FILE="$HOME/.ssh/id_rsa"
export WDISPLAY_REMOTE_DIR=public_html/WDisplay
export WDISPLAY_FEED_BASE_URL=https://baileykiehl.com/WDisplay/
export SPARKLE_PRIVATE_KEY_FILE="$HOME/Desktop/sparkle-private-key.txt"
export WDISPLAY_CODE_SIGN_IDENTITY="Developer ID Application: Bailey Kiehl (4V28UB843Z)"
export WDISPLAY_NOTARY_PROFILE=wdisplay-notary
